/****** Object:  Database [AllergyTest]    Script Date: 07.10.2021 17:48:18 ******/
CREATE DATABASE [AllergyTest]  (EDITION = 'Standard', SERVICE_OBJECTIVE = 'S0', MAXSIZE = 250 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[ALLERGEN]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGEN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_ALLERGEN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALLERGEN_CUSTOM]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGEN_CUSTOM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[TypeId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_ALLERGEN_CUSTOM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALLERGEN_TYPE]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGEN_TYPE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShortName] [varchar](30) NOT NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_ALLERGEN_TYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLLEN_CALENDAR_AREA]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLLEN_CALENDAR_AREA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[GoogleMapsLayer] [varchar](150) NULL,
 CONSTRAINT [PK_POLLEN_CALENDAR_AREA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLLEN_CALLENDAR]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLLEN_CALLENDAR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AreaId] [int] NOT NULL,
	[AllergenId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[ImpactLevel] [tinyint] NOT NULL,
 CONSTRAINT [PK_POLLEN_CALLENDAR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SURVEY]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SURVEY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Feeling] [int] NOT NULL,
 CONSTRAINT [PK_SURVEY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SURVEY_DETAIL_SYMPTOM]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SURVEY_DETAIL_SYMPTOM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SurveyId] [int] NOT NULL,
	[SymptomId] [int] NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_SURVEY_DETAIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SURVEY_DETAIL_TAKING]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SURVEY_DETAIL_TAKING](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TakingId] [int] NOT NULL,
	[SurveyId] [int] NOT NULL,
 CONSTRAINT [PK_SURVEY_DETAIL_TAKING] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYMPTOM]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYMPTOM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Question] [varchar](255) NULL,
	[Scale] [tinyint] NOT NULL,
 CONSTRAINT [PK_SYMPTOM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAKING]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAKING](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_TAKING] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAKING_CATEGORY]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAKING_CATEGORY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_TAKING_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](254) NOT NULL,
	[Password] [varchar](250) NOT NULL,
	[Created] [datetime] NOT NULL,
	[IsActive] [tinyint] NOT NULL,
	[SexId] [tinyint] NOT NULL,
 CONSTRAINT [PK_USERR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ALLERGEN]    Script Date: 07.10.2021 17:48:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ALLERGEN](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AllergenId] [int] NOT NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_USER_ALLERGEN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USERR_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ALLERGEN]  WITH CHECK ADD  CONSTRAINT [FK_ALLERGEN_ALLERGEN_TYPE] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ALLERGEN_TYPE] ([Id])
GO
ALTER TABLE [dbo].[ALLERGEN] CHECK CONSTRAINT [FK_ALLERGEN_ALLERGEN_TYPE]
GO
ALTER TABLE [dbo].[ALLERGEN_CUSTOM]  WITH CHECK ADD  CONSTRAINT [FK_ALLERGEN_CUSTOM_2_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[ALLERGEN_CUSTOM] CHECK CONSTRAINT [FK_ALLERGEN_CUSTOM_2_USER]
GO
ALTER TABLE [dbo].[ALLERGEN_CUSTOM]  WITH CHECK ADD  CONSTRAINT [FK_ALLERGEN_CUSTOM_ALLERGEN_TYPE] FOREIGN KEY([TypeId])
REFERENCES [dbo].[ALLERGEN_TYPE] ([Id])
GO
ALTER TABLE [dbo].[ALLERGEN_CUSTOM] CHECK CONSTRAINT [FK_ALLERGEN_CUSTOM_ALLERGEN_TYPE]
GO
ALTER TABLE [dbo].[POLLEN_CALLENDAR]  WITH CHECK ADD  CONSTRAINT [FK_POLLEN_CALLENDAR_ALLERGEN] FOREIGN KEY([AllergenId])
REFERENCES [dbo].[ALLERGEN] ([Id])
GO
ALTER TABLE [dbo].[POLLEN_CALLENDAR] CHECK CONSTRAINT [FK_POLLEN_CALLENDAR_ALLERGEN]
GO
ALTER TABLE [dbo].[POLLEN_CALLENDAR]  WITH CHECK ADD  CONSTRAINT [FK_POLLEN_CALLENDAR_POLLEN_CALENDAR_AREA] FOREIGN KEY([AreaId])
REFERENCES [dbo].[POLLEN_CALENDAR_AREA] ([Id])
GO
ALTER TABLE [dbo].[POLLEN_CALLENDAR] CHECK CONSTRAINT [FK_POLLEN_CALLENDAR_POLLEN_CALENDAR_AREA]
GO
ALTER TABLE [dbo].[SURVEY]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[SURVEY] CHECK CONSTRAINT [FK_SURVEY_USER]
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_SYMPTOM]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_DETAIL_SURVEY] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[SURVEY] ([Id])
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_SYMPTOM] CHECK CONSTRAINT [FK_SURVEY_DETAIL_SURVEY]
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_SYMPTOM]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_DETAIL_SYMPTOM] FOREIGN KEY([SymptomId])
REFERENCES [dbo].[SYMPTOM] ([Id])
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_SYMPTOM] CHECK CONSTRAINT [FK_SURVEY_DETAIL_SYMPTOM]
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_TAKING]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_DETAIL_TAKING_2_SURVEY] FOREIGN KEY([SurveyId])
REFERENCES [dbo].[SURVEY] ([Id])
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_TAKING] CHECK CONSTRAINT [FK_SURVEY_DETAIL_TAKING_2_SURVEY]
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_TAKING]  WITH CHECK ADD  CONSTRAINT [FK_SURVEY_DETAIL_TAKING_TAKING] FOREIGN KEY([TakingId])
REFERENCES [dbo].[TAKING] ([Id])
GO
ALTER TABLE [dbo].[SURVEY_DETAIL_TAKING] CHECK CONSTRAINT [FK_SURVEY_DETAIL_TAKING_TAKING]
GO
ALTER TABLE [dbo].[TAKING]  WITH CHECK ADD  CONSTRAINT [FK_TAKING_TAKING_CATEGORY] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TAKING_CATEGORY] ([Id])
GO
ALTER TABLE [dbo].[TAKING] CHECK CONSTRAINT [FK_TAKING_TAKING_CATEGORY]
GO
ALTER TABLE [dbo].[USER_ALLERGEN]  WITH CHECK ADD  CONSTRAINT [FK_USER_ALLERGEN_ALLERGEN] FOREIGN KEY([AllergenId])
REFERENCES [dbo].[ALLERGEN] ([Id])
GO
ALTER TABLE [dbo].[USER_ALLERGEN] CHECK CONSTRAINT [FK_USER_ALLERGEN_ALLERGEN]
GO
ALTER TABLE [dbo].[USER_ALLERGEN]  WITH NOCHECK ADD  CONSTRAINT [FK_USER_ALLERGEN_USER] FOREIGN KEY([UserId])
REFERENCES [dbo].[USER] ([Id])
GO
ALTER TABLE [dbo].[USER_ALLERGEN] CHECK CONSTRAINT [FK_USER_ALLERGEN_USER]
GO
